*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('fonts/bahnschrift.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal italic;
  font-stretch: 50% 200%;
}

@font-face {
  font-family: 'Garamond';
  src: url('fonts/garamond.ttf') format('truetype');
  font-weight: 400 800;
  font-style: normal;
  font-stretch: 50% 200%;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 50% 200%;
}

:root {
  --white-transparent: hsla(0, 0%, 100%, 0.9);
  --dark-gray: #354759;
  --blue-gray: #4c747d;
  --light-gray: #f1ebea;
  --light-brown: #a48c83;
  --dark-purple: #624d61;
  --pink: #d7959f;
  --light-pink: #cfbcc0;
  --blue: hsl(201 100% 50%);
  --title: "Bahnschrift", sans-serif;
  --main: "Roboto", serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding);
  overflow-x: hidden;
}

body {
  font-family: var(--main);
  font-stretch: 75%;
  position: relative;
}

#body-story {
  font-family: var(--main);
  position: relative;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* NAVBAR */

#navbar {
  position: sticky;
  display: grid;
  grid-template-areas:
    "language language logo logo logo logo logo logo icon icon"
    "language language link link link link link link icon icon";
  grid-template-rows: 80px 80px;
  grid-template-columns: repeat(10, 1fr);
  height: 160px;
  top: 0;
  box-shadow: 0 0 10px #ccc;
  transform: translateY(0px);
  transition: transform 0.5s ease;
  background-color: var(--white-transparent);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 4;
  font-family: var(--title);
}

#navbar.hide-navbar {
  transform: translateY(-170px);
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 20px;
}

#logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  grid-area: logo;
  justify-self: center;
  align-self: center;
  color: black;
  transition: all 0.3s ease;
}

#home-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all 0.3s ease;
}

.home {
  height: 100%;
}

.home path {
  fill: black;
  transition: all 0.3s ease;
}

#logo-container:hover .home path {
  fill: var(--pink);
}

#languages-list {
  gap: 25px;
  grid-area: language;
  justify-self: center;
  align-self: center;
}

.language-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  z-index: 5;
  text-transform: uppercase;
}

.bold-text {
  font-size: 25px;
  font-weight: 800;
}

#sections-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  gap: 20px;
  font-size: 23px;
  font-weight: 300;
  text-align: center;
  grid-area: link;
  align-self: end;
  text-transform: uppercase;
  position: relative;
  transform: translateY(-15px);
}

.list-item {
  display: flex;
  justify-content: space-evenly;
  line-height: 1;
}

#stories-navbar-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 10px;
  font-size: 23px;
  font-weight: 300;
  text-align: center;
  grid-area: link;
  align-self: center;
  text-transform: uppercase;
  position: relative;
}

#social-medias-list {
  gap: 25px;
  grid-area: icon;
  justify-self: center;
  align-self: center;
}

.navbar-link {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
}

.navbar-link:hover {
  cursor: pointer;
  color: var(--pink);
}

.navbar-icon {
  cursor: pointer;
  width: 22px;
  height: 22px;
}

@keyframes insta-gradient-in-one {
  0% {
    stop-color: black;
  }

  100% {
    stop-color: #e09b3d;
  }
}

@keyframes insta-gradient-in-two {
  0% {
    stop-color: black;
  }

  100% {
    stop-color: #c74c4d;
  }
}

@keyframes insta-gradient-in-three {
  0% {
    stop-color: black;
  }

  100% {
    stop-color: #c21975;
  }
}

@keyframes insta-gradient-in-four {
  0% {
    stop-color: black;
  }

  100% {
    stop-color: #7024c4;
  }
}

.grad-insta-stop.one.animation-insta-in-one {
  animation: insta-gradient-in-one 0.3s ease forwards;
}

.grad-insta-stop.two.animation-insta-in-two {
  animation: insta-gradient-in-two 0.3s ease forwards;
}

.grad-insta-stop.three.animation-insta-in-three {
  animation: insta-gradient-in-three 0.3s ease forwards;
}

.grad-insta-stop.four.animation-insta-in-four {
  animation: insta-gradient-in-four 0.3s ease forwards;
}

@keyframes insta-gradient-out-one {
  0% {
    stop-color: #e09b3d;
  }

  100% {
    stop-color: black;
  }
}

@keyframes insta-gradient-out-two {
  0% {
    stop-color: #c74c4d;
  }

  100% {
    stop-color: black;
  }
}

@keyframes insta-gradient-out-three {
  0% {
    stop-color: #c21975;
  }

  100% {
    stop-color: black;
  }
}

@keyframes insta-gradient-out-four {
  0% {
    stop-color: #7024c4;
  }

  100% {
    stop-color: black;
  }
}

.grad-insta-stop.one.animation-insta-out-one {
  animation: insta-gradient-out-one 0.3s ease forwards;
}

.grad-insta-stop.two.animation-insta-out-two {
  animation: insta-gradient-out-two 0.3s ease forwards;
}

.grad-insta-stop.three.animation-insta-out-three {
  animation: insta-gradient-out-three 0.3s ease forwards;
}

.grad-insta-stop.four.animation-insta-out-four {
  animation: insta-gradient-out-four 0.3s ease forwards;
}

#youtube-icon {
  fill: black;
  transition: fill 0.3s ease;
}

#youtube-icon:hover {
  fill: #f61c0d;
}

#background-color-spotify {
  fill: black;
  transition: fill 0.3s ease;
}

#spotify-icon:hover #background-color-spotify {
  fill: #1ed760;
}

/* SECTIONS */

.section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 100px;
}

.section-title {
  font-family: var(--title);
  font-size: 70px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 75px 0;
  z-index: 1;
}

/* HOME */

#home {
  height: 200vh;
  padding: 0;
}

#video-background {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#home-content {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(3px);
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#main-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-logo {
  width: 400px;
  object-fit: contain;
  filter: invert(1);
}

.logo-line {
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 0px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px black;
}

#uc-container {
  width: 100%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px black;
  margin-bottom: 1rem;
}

#uc-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
}

#uc-title {
  text-transform: uppercase;
  height: 100%;
  align-content: center;
  font-size: 65px;
  font-weight: 200;
}

#uc-location {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#uc-venue {
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 800;
  text-decoration: none;
  color: white;
  transition: 0.3s ease
}

#uc-venue:hover {
  color: var(--pink);
}

#uc-city {
  text-transform: capitalize;
  font-style: italic;
  font-weight: 400;
  font-size: 23px;
}

#uc-country {
  text-transform: uppercase;
}

#uc-date {
  font-size: 45px;
  font-weight: 500;
}

#uc-ticket {
  text-transform: uppercase;
  align-content: center;
  font-size: 28px;
  background-color: black;
  text-shadow: none;
  border-radius: 15px;
  padding: 2rem;
  transition: all 0.3s ease;
  text-decoration: none;
  color: white;
}

#uc-ticket:hover {
  background-color: var(--pink);
}

/* VIDEO */

#video {
  background-color: var(--light-gray);
}

#promo-video {
  border-radius: 10px;
  text-align: center;
}

/* MUSIC */

#music {
  background-color: var(--light-pink);
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

#music a {
  height: 400px;
  width: 400px;
  text-align: center;
  transition: all 0.3s ease;
}

#music a:hover {
  transform: scale(1.02);
}

#music img {
  width: 100%;
}

/* STORIES */

#stories {
  height: 150vh;
  gap: 100px;
  position: relative;
  overflow: hidden;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background-image: url(images/cloud.png);
  background-size: 150%;
  background-position: center;
}

.parallax-content {
  position: relative;
  z-index: 2;
}

#stories-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.story {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  max-width: 500px;
  text-align: center;
}

.story-link {
  font-size: 60px;
  text-decoration: none;
  color: var(--dark-purple);
  opacity: 0;
}

.story-link.show-story {
  font-weight: 200;
  opacity: 1;
  transform: scale(1);
  transition: opacity 2s ease-in-out, color 1s ease, transform 0.2s ease, font-weight 0.2s ease;
}

.story-link.show-story:hover {
  cursor: pointer;
  color: black;
  transform: scale(1.05);
  font-weight: 550;
  transition: all 0.8s ease;
}

/* ABOUT US */

#about-us {
  background: url(images/promo/1.jpg);
  background-size: cover;
  color: white;
  position: relative;
  gap: 100px;
  background-position: center;
}

#overlay-about-us {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

.italic {
  font-style: italic;
}

#about-us-text {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: justify;
  font-weight: 150;
  font-size: 26px;
  z-index: 1;
  width: 50%;
  gap: 40px;
}

.small-text {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 15rem;
}

.scroll-text {
  position: relative;
  opacity: 0;
  transform: translateX(0);
  transition: all 0.5s ease;
}

.left {
  transform: translateX(-500px);
  opacity: 0;
  transition: all 0.5s ease;
}

.right {
  transform: translateX(500px);
  opacity: 0;
  transition: all 0.5s ease;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

/* CONCERTS */

#concerts {
  background-color: var(--dark-gray);
  color: white;
}

#concerts-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  gap: 10rem;
}

#past-concerts,
#upcoming-concerts {
  display: none;
}

#upcoming-concerts {
  width: 100%;
}

#past-concerts {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 0px var(--light-gray);
  transition: 0.3s ease;
}

.concerts-list-name {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 40px;
  font-weight: 400;
  transition: all 0.6s ease;
  border-radius: 5px;
  text-transform: uppercase;
  height: 25px;
  justify-content: center;
}

.concerts-list-selector {
  height: 2px;
  transition: all 0.6s ease;
  position: relative;
  width: 0;
  background-color: var(--pink);
  border-radius: 10px;
}

.concerts-list-name:hover {
  cursor: pointer;
}

.concerts-list-name.concerts-list-selector {
  transition: all 0.6s ease;
  width: 0;
}

.concerts-list-name:hover .concerts-list-selector {
  transition: all 0.6s ease;
  width: 100%;
}

.time-period {
  padding: 0 5rem;
}

.concerts-list-content {
  width: 100%;
  max-height: 0;
  transition: all 0.8s ease;
  overflow: hidden;
}

.time-period-selected {
  height: 10px;
  width: 100%;
}

.show-concerts-content {
  max-height: 3000px;
}

.shadow {
  box-shadow: 0px 0px 3px var(--light-gray);
}

.year-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 70px;
  gap: 30px;
}

.year {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 4rem;
  text-align: center;
  width: 100%;
}

.concert-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  justify-items: start;
  align-items: center;
  border-bottom: solid 1px white;
  height: 80px;
}

.concert-card-past {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-items: start;
  align-items: center;
  border-bottom: solid 1px white;
  height: 80px;
}

.date {
  font-size: 45px;
  font-weight: 400;
}

.venue {
  justify-self: start;
}

.venue-past {
  justify-self: center;
}

.venue-link {
  text-decoration: none;
  font-size: 38px;
  font-weight: 550;
  transition: 0.3s ease;
  color: white;
  letter-spacing: 1px;
  width: 110%;
  display: inline-block;
}

.venue-link:hover {
  cursor: pointer;
  color: var(--pink);
}

.location-container {
  display: flex;
  gap: 5px;
  justify-self: end;
  align-items: first baseline;
}

.city {
  font-size: 30px;
  font-weight: 200;
  font-style: italic;
}

.country {
  font-size: 30px;
  font-weight: 200;
  font-style: italic;
}

.ticket {
  text-decoration: none;
  color: white;
  background-color: black;
  transition: 0.3s ease;
  justify-self: end;
  font-size: 20px;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 5px;
}

.ticket:hover {
  background-color: var(--pink);
}

#no-concert-text {
  font-size: 40px;
  display: none;
  justify-content: center;
  width: 100%;
  text-transform: uppercase;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 0px var(--light-gray);
}

/* GALLERY */

#gallery {
  background-color: var(--light-gray);
  position: relative;
}

#fullscreen-container {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  width: 80%;
  transition: all 0.5s ease;
  display: flex;
}

.scroll-arrow {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  z-index: 6;
  fill: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

#scroll-left {
  left: 20px;
  transform: translateY(-50%) rotate(180deg);
}

#scroll-right {
  right: 20px;
  transform: translateY(-50%);
}

.scroll-arrow:hover {
  cursor: pointer;
  fill: var(--pink);
}

#fullscreen-image {
  width: 100%;
  height: 100%;
}

#fullscreen-image img {
  object-fit: cover;
  width: 100%;
}

#fullscreen-image img:hover {
  cursor: pointer;
}

#fullscreen-container.fullscreen {
  opacity: 1;
  z-index: 5;
  transition: all 0.5s ease;
}

.slider {
  position: relative;
  width: 100%;
  height: calc(var(--height) + 60px);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, black 5% 95%, transparent);
  -webkit-mask-image: linear-gradient(to right, transparent, black 5% 95%, transparent);
  transform: translateX(-50%);
  top: 50%;
  left: 50%;
}

.slider .gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--height);
  min-width: calc(var(--width) * var(--quantity));
  position: absolute;
  transition: all 0.2 ease;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
}

.slider .gallery .image {
  width: var(--width);
  height: var(--height);
  position: absolute;
  filter: grayscale(1) blur(2px);
  transition: transform 0.5s cubic-bezier(.65, .05, .36, 1), filter 0.3s ease;
}

.slider .gallery .image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.slider .image:hover {
  filter: grayscale(0);
  cursor: pointer;
}

.gallery-btn {
  width: 70px;
  height: 70px;
  background-color: white;
  transition: 0.3s ease;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.gallery-btn svg {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.gallery-btn:hover {
  cursor: pointer;
  background-color: var(--pink);
}

#backward {
  transform: rotate(180deg);
  left: 8%;
}

#forward {
  right: 8%;
}

#overlay-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: -3;
}

#overlay-body.show-overlay {
  opacity: 1;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease;
}

/* CONTACT */

#contact {
  gap: 30px;
}

#contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-name {
  font-size: 40px;
  font-weight: 450;
}

.contact-link {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 2px;
  transition: 0.3s ease;
}

.contact-link:hover {
  cursor: pointer;
  color: var(--pink);
}

/* FOOTER */

footer {
  background-color: black;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-text {
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  color: white;
  line-height: 1.5;
}

.footer-link {
  color: white;
  transition: color 0.3s ease;
  font-weight: 400;
  text-decoration: none;
}

.footer-link:hover {
  color: var(--pink);
  cursor: pointer;
}

/* STORY HTML */

.story-container {
  display: flex;
  flex-direction: column;
  gap: 130px;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--light-gray);
  color: black;
  min-height: 100vh;
  padding: 3rem 0;
}

.story-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.story-title {
  font-family: var(--title);
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 650;
  letter-spacing: 2px;
  text-align: center;
}

.story-text {
  text-align: justify;
  font-size: 26px;
  font-weight: 300;
  width: 85%;
  font-stretch: 80%;
}